/* Fonts Playfair Display (titulos)*/
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* Fonts Poppins (cuerpo de texto) */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* Fonts Roboto (cuerpo de texto) */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.contact-home-highlight {
  background: linear-gradient(
    90deg,
    #eab642,
    #ffd1a4,
    #ffe0aa,
    #e7b209
  ); /* Gradiente con los colores proporcionados */
  background-size: 200% 100%; /* Hace que el gradiente se mueva */
  -webkit-background-clip: text; /* Aplica el gradiente solo al texto */
  color: transparent; /* Hace que el texto sea transparente para solo ver el gradiente */
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); /* Sombra suave inicial */
  display: inline-block; /* Asegura que el texto se pueda animar correctamente */
  animation: gradientEffect 4s ease-in-out infinite,
    shadowEffect 4s ease-in-out infinite; /* Animaciones combinadas */
}

/* Animación de gradiente */
@keyframes gradientEffect {
  0% {
    background-position: 200% 0%; /* El gradiente comienza desde la derecha */
  }
  50% {
    background-position: 0% 0%; /* El gradiente se mueve completamente */
  }
  100% {
    background-position: 200% 0%; /* El gradiente regresa a la posición inicial */
  }
}

@keyframes shadowEffect {
  0% {
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }
  50% {
    text-shadow: 8px 8px 20px rgba(0, 0, 0, 0.8);
  }
  100% {
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }
}

/* Boton con el estilo amarillo --------------------------------------------------- */
.contact-btn-form-home {
  background: linear-gradient(90deg, #eab642, #c7a17c, #efdab8, #eab642);
  background-size: 200% 100%;
  color: #101010;
  font-size: 18px;
  font-weight: 700;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  animation: gradientEffect 4s ease-in-out infinite,
    shadowEffect 4s ease-in-out infinite;
}
.contact-btn-form-home:hover {
  color: #dddddd;
  font-weight: 600;
  background-size: 200% 100%;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.btn-about-us {
  background: linear-gradient(90deg, #000000, #555555, #000000, #000000);
  background-size: 200% 100%;
  font-size: 18px;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  animation: gradientEffect 4s ease-in-out infinite,
    shadowEffect 4s ease-in-out infinite;
  transition: transform 2s ease, box-shadow 2s ease, background-color 2s ease,
    color 2s ease, font-weight 2s ease, background-size 2s ease;
  border-radius: 8px;
}

.btn-about-us:hover {
  background: linear-gradient(90deg, #eab642, #c7a17c, #efdab8, #eab642);
  color: #000000;
  font-weight: 600;
  background-size: 200% 100%;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.btn-bg-black {
  background: linear-gradient(90deg, #000000, #555555, #000000, #000000);
  background-size: 200% 100%;
  font-size: 18px;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  animation: gradientEffect 4s ease-in-out infinite,
    shadowEffect 4s ease-in-out infinite;
  transition: transform 2s ease, box-shadow 2s ease, background-color 2s ease,
    color 2s ease, font-weight 2s ease, background-size 2s ease;
  border-radius: 8px;
  color: #ebebeb;
}

/* Estilos para los titulos verdes  --------------------------------------------- */
/* */

/* Animación del gradiente */
.title-home-section {
  background: linear-gradient(
    90deg,
    #135a3a,
    /* green1 */ #eab642,
    /* yellow1 */ #012b20,
    /* green2 */ #135a3a /* beige1 */
  ); /* Gradiente con colores destacados */
  background-size: 400% 100%; /* Hace que el movimiento del gradiente sea más notable */
  -webkit-background-clip: text;
  color: transparent; /* El texto es visible solo a través del gradiente */
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7); /* Sombra inicial más marcada */
  animation: gradientMove 5s ease-in-out infinite,
    shadowPulse 8s ease-in-out infinite; /* Animaciones combinadas */
}

/* Animación del gradiente */
@keyframes gradientMove {
  0% {
    background-position: 0% 0%; /* Inicia desde la izquierda */
  }
  50% {
    background-position: 100% 0%; /* Gradiente se mueve completamente hacia la derecha */
  }
  100% {
    background-position: 0% 0%; /* Regresa a la posición inicial */
  }
}

/* Animación de la sombra */
@keyframes shadowPulse {
  0%,
  100% {
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7); /* Sombra suave */
  }
  50% {
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9); /* Sombra más intensa */
  }
}

/*Sombre home verde-------------------------------------------------*/
.shadow-home-green {
  box-shadow: 0 0 150px 200px rgba(19, 90, 58, 0.6); /* Sombra inicial */
  animation: pulsate-shadow 3s infinite; /* Animación continua */
}

@keyframes pulsate-shadow {
  0% {
    box-shadow: 0 0 150px 200px rgba(19, 90, 58, 0.6); /* Estado inicial */
  }
  50% {
    box-shadow: 0 0 180px 230px rgba(19, 90, 58, 0.8); /* Más intensa */
  }
  100% {
    box-shadow: 0 0 150px 200px rgba(19, 90, 58, 0.6); /* Vuelve al inicio */
  }
}

.shadow-programs {
  box-shadow: 0 0 150px 120px rgba(50, 154, 107, 0.715); /* Sombra inicial */
  width: 300px;
}
.shadow-about-me {
  box-shadow: 0 0 110px 120px rgba(16, 199, 117, 0.715); /* Sombra inicial */
}
.text-color-black {
  background: linear-gradient(90deg, #ffffff, #434343, #ebebeb, #7a7a7a);
  background-size: 200% 100%;
  font-size: 18px;
  color: transparent; /* Ocultamos el texto por defecto */
  background-clip: text; /* Aplicamos el degradado al texto */
  -webkit-background-clip: text; /* Compatibilidad para navegadores basados en WebKit */
  animation: gradientEffect 4s ease-in-out infinite,
    shadowEffect 4s ease-in-out infinite;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  transition: transform 2s ease, box-shadow 2s ease, background-color 2s ease,
    color 2s ease, font-weight 2s ease, background-size 2s ease;
  font-weight: bold;
}
